@keyframes nav-fadein {
	0% {
		opacity:0;
	}
	100% {
		opacity:1.0;
	}
}

@keyframes pulse-border {
	0% {
		border-color:c(gray-p);
	}
	33.33% {
		border-color:c(blue);
	}
	66.66% {
		border-color:c(gray-p);
	}
	100%{
		border-color:c(blue);
	}
}

@keyframes loading-outter {
	0% {
		transform:rotate(0deg);
	}
	100% {
		transform:rotate(360deg);
	}
}