.row {
	width:$row-width;
	margin:0 auto;
	float:none;
	display:block;
	position:relative;
	clear:both;
	@include clearfix();
}

.columns {
	padding-left:$gutter/2;
	padding-right:$gutter/2;

	&.tiny-1 {
		@include grid(1);
	}
	&.tiny-2 {
		@include grid(2);
	}
	&.tiny-3 {
		@include grid(3);
	}
	&.tiny-4 {
		@include grid(4);
	}
	&.tiny-5 {
		@include grid(5);
	}
	&.tiny-6 {
		@include grid(6);
	}
	&.tiny-7 {
		@include grid(7);
	}
	&.tiny-8 {
		@include grid(8);
	}
	&.tiny-9 {
		@include grid(9);
	}
	&.tiny-10 {
		@include grid(10);
	}
	&.tiny-11 {
		@include grid(11);
	}
	&.tiny-12 {
		@include grid(12);
	}	

	@include mq($sm) {
		&.small-1 {
			@include grid(1);
		}
		&.small-2 {
			@include grid(2);
		}
		&.small-3 {
			@include grid(3);
		}
		&.small-4 {
			@include grid(4);
		}
		&.small-5 {
			@include grid(5);
		}
		&.small-6 {
			@include grid(6);
		}
		&.small-7 {
			@include grid(7);
		}
		&.small-8 {
			@include grid(8);
		}
		&.small-9 {
			@include grid(9);
		}
		&.small-10 {
			@include grid(10);
		}
		&.small-11 {
			@include grid(11);
		}
		&.small-12 {
			@include grid(12);
		}	
	}
	@include mq($md) {
		&.medium-1 {
			@include grid(1);
		}
		&.medium-2 {
			@include grid(2);
		}
		&.medium-3 {
			@include grid(3);
		}
		&.medium-4 {
			@include grid(4);
		}
		&.medium-5 {
			@include grid(5);
		}
		&.medium-6 {
			@include grid(6);
		}
		&.medium-7 {
			@include grid(7);
		}
		&.medium-8 {
			@include grid(8);
		}
		&.medium-9 {
			@include grid(9);
		}
		&.medium-10 {
			@include grid(10);
		}
		&.medium-11 {
			@include grid(11);
		}
		&.medium-12 {
			@include grid(12);
		}	
	}
	@include mq($lg) {
		&.large-1 {
			@include grid(1);
		}
		&.large-2 {
			@include grid(2);
		}
		&.large-3 {
			@include grid(3);
		}
		&.large-4 {
			@include grid(4);
		}
		&.large-5 {
			@include grid(5);
		}
		&.large-6 {
			@include grid(6);
		}
		&.large-7 {
			@include grid(7);
		}
		&.large-8 {
			@include grid(8);
		}
		&.large-9 {
			@include grid(9);
		}
		&.large-10 {
			@include grid(10);
		}
		&.large-11 {
			@include grid(11);
		}
		&.large-12 {
			@include grid(12);
		}	
	}

	@include mq($xl) {
		&.xlarge-1 {
			@include grid(1);
		}
		&.xlarge-2 {
			@include grid(2);
		}
		&.xlarge-3 {
			@include grid(3);
		}
		&.xlarge-4 {
			@include grid(4);
		}
		&.xlarge-5 {
			@include grid(5);
		}
		&.xlarge-6 {
			@include grid(6);
		}
		&.xlarge-7 {
			@include grid(7);
		}
		&.xlarge-8 {
			@include grid(8);
		}
		&.xlarge-9 {
			@include grid(9);
		}
		&.xlarge-10 {
			@include grid(10);
		}
		&.xlarge-11 {
			@include grid(11);
		}
		&.xlarge-12 {
			@include grid(12);
		}	
	}
}